name: "Commit Lint"
on: [pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@v5.4.4
        with:
          failOnWarnings: true
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
